In [1]:
a={1,2,3,4}
b={2,4,5,6}
a|b

{1, 2, 3, 4, 5, 6}

In [5]:
for i in a:
    print(i)

1
2
3
4

In [6]:
for i in a:
    print(i)

1
2
3
4

In [7]:
type(a)

set

In [10]:
a={i for i in 'pineapple' if i not in 'apl'}

In [11]:
a

{'e', 'i', 'n'}

In [13]:
file=open('hello1.txt','w')

11

In [15]:
file.close

In [17]:
file=open('hi.txt','w')
file.write('hello,world!')
file.close()

In [20]:
file=open('hi.txt','r')
print(file.read())
file.close()

hello,world!

In [23]:
with open('hi.txt','r') as file:
    for i in range(3):
        print(file.read())

hello,world!

In [24]:
lines=['안녕하세요\n', '파이썬\n', '코딩도장입니다.\n']
with open('hi.txt','w') as file:
    file.writelines(lines)

In [27]:
with open('hi.txt','r') as file:
    lines1=file.readlines()

In [28]:
lines1

['안녕하세요\n', '파이썬\n', '코딩도장입니다.\n']

In [29]:
with open('hi.txt','r') as file:
    line=None
    while line !='':
        line=file.readline()
        print(line.strip('\n'))

안녕하세요
파이썬
코딩도장입니다.

In [30]:
with open('hi.txt','r') as file:
    for line in file:
        print(line.strip('\n'))

안녕하세요
파이썬
코딩도장입니다.

In [31]:
import pickle

name='james'
age=22
address='서울시 서초구 방배동'
scores={'korean':90,'english':22,'math':99}

with open('james.p','wb') as file:
    pickle.dump(name,file)
    pickle.dump(age,file)
    pickle.dump(address,file)
    pickle.dump(scores,file)

In [33]:
with open('james.p','rb') as file:
    name=pickle.load(file)
    age=pickle.load(file)
    address=pickle.load(file)
    scores=pickle.load(file)
    
    print(name)
    print(age)
    print(address)
    print(scores)

james
22
서울시 서초구 방배동
{'korean': 90, 'english': 22, 'math': 99}

In [40]:
word=input('입력하세요.')

is_palindrome = True
for i in range(len(word)//2):
    if word[i]!=word[-i-1]:
        is_palindrome=False
        break
print(is_palindrome)

입력하세요.llpqqpll
True

In [44]:
text='hello'
for i in range(len(text)-1):
    print(text[i],text[i+1],sep=',')

h,e
e,l
l,l
l,o

In [45]:
def mul(a,b):
    c=a*b
    return c
def add(a,b):
    c=a+b
    print(c)
    d=mul(a,b)
    print(d)
    
x=10
y=20
add(x,y)

30
200

In [46]:
x=[10,20,30]

In [47]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [48]:
x=[10,20,30]

In [49]:
print_numbers(*x)

10
20
30

In [54]:
def personal_info(name,age,address):
    print('이름: ',name)
    print('나이: ',age)
    print('주소:',address)

In [51]:
personal_info(name='경민',address='방배동',age=11)

이름:  경민
나이:  11
주소: 방배동

In [55]:
x={'name':'홍길동','address':'서울시 서초구 방배동','age':22}
personal_info(**x)

이름:  홍길동
나이:  22
주소: 서울시 서초구 방배동

In [63]:
def personal_info(**kwargs):
    for kw,arg in kwargs.items():
        print(kw,'==',arg,sep='')

In [64]:
x={'name':'홍길동','address':'서울시 서초구 방배동','age':22}
personal_info(**x)

name==홍길동
address==서울시 서초구 방배동
age==22

In [65]:
plus_ten=lambda x:x+10

In [66]:
plus_ten(1)

11

In [67]:
(lambda x:x+10)(1)

11

In [68]:
y=10
(lambda x:x+y)(22)

32

In [69]:
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: str(x) if x%3==0 else x,a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [70]:
a=[1,2,3,4,5]
b=[5,6,7,8,9]
list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12, 14]

In [71]:
from functools import reduce

In [72]:
def f(x,y):
    return x+y

a=[1,2,3,4,5]
reduce(f,a)

15

In [73]:
reduce(lambda x,y:x+y,a)

15

In [74]:
list(map(lambda x:x%10==7,a))

[False, False, False, False, False]

In [75]:
a=[1,7,29,3,37,210]

In [76]:
list(map(lambda x:x%10==7,a))

[False, True, False, False, True, False]

In [80]:
list(filter(lambda x:x%10==7,a))

[7, 37]

In [84]:
print('hello','python')

hello python

In [85]:
a=10
b=20

In [89]:
not b!=20 or a<5

True

In [90]:
if a==10 & b==20:
    True

In [91]:
a=10
b=20

In [99]:
if a and b:
    print('yes')

yes

In [100]:
a=[1,7,29,3,37,210]

In [102]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
a.__iter__()