In [1]:
1+1

2

In [2]:
5/2

2.5

In [3]:
5//2

2

In [4]:
divmod(5,2)

(2, 1)

In [5]:
quotient, remainder=divmod(5,2)

In [6]:
print(quotient,remainder)

2 1

In [7]:
float(5)

5.0

In [8]:
a=int(0.2467*12+4.159)

In [9]:
print(a)

7

In [10]:
x,y=10,20

In [11]:
x,y=y,x

In [12]:
x

20

In [13]:
y

10

In [14]:
del x

In [15]:
x

NameError: name 'x' is not defined

In [16]:
input()

'hello world'

"'hello world'"

In [17]:
input()

hello world

'hello world'

In [18]:
a,b=input().split()

hello hi

In [19]:
a

'hello'

In [20]:
b

'hi'

In [21]:
x,y=input('문자를 입력하세요.: ').split(;)

SyntaxError: invalid syntax (<ipython-input-21-6b32e659efe7>, line 1)

In [22]:
x,y=input('문자를 입력하세요.: ').split(,)

SyntaxError: invalid syntax (<ipython-input-22-f90e86d3e3a8>, line 1)

In [24]:
x,y=input('문자를 입력하세요.: ').split()

문자를 입력하세요.: 10,20

ValueError: not enough values to unpack (expected 2, got 1)

In [27]:
x-y

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [28]:
x,y=input('문자를 입력하세요.: ').split()

문자를 입력하세요.: 10 20

In [29]:
x-y

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [30]:
x+y

'1020'

In [31]:
q,w=map(int,input('숫자 두개를 입력하세요.: ').split)

숫자 두개를 입력하세요.: 20 30

TypeError: 'builtin_function_or_method' object is not iterable

In [32]:
q,w=map(int,input('숫자 두개를 입력하세요.: ').split())

숫자 두개를 입력하세요.: 10 20

In [33]:
print(q+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
print(q+w)

30

In [35]:
a,b=intut('문자를 입력하세요.').split(',')

NameError: name 'intut' is not defined

In [36]:
a,b=input('문자를 입력하세요.').split(',')

문자를 입력하세요.11,30

In [37]:
a

'11'

In [38]:
b

'30'

In [39]:
a,b,c=map(int,input('숫자를 입력하세요.: ').split())

숫자를 입력하세요.: 10 20 30

In [40]:
print(a+b+c)

60

In [41]:
print(1,2,3,sep=",")

1,2,3

In [42]:
print('hello','world',sep='')

helloworld

In [43]:
print(1,2,3)

1 2 3

In [44]:
print(1,2,3,spe='\n')

TypeError: 'spe' is an invalid keyword argument for print()

In [45]:
print(1,2,3,sep='\n')

1
2
3

In [46]:
print(1,2,3,sep='\\')

1\2\3

In [47]:
year=2000
month=10
day=27
hour=11
minute=43
second=59

In [48]:
print(year,month,day,sep='\\')

2000\10\27

In [49]:
print(hour,minute,second,ssep='\\')

TypeError: 'ssep' is an invalid keyword argument for print()

In [50]:
print(hour,minute,second,sep=':')

11:43:59

In [51]:
1 is not 3

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-51-0e08c821982a>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 3

True

In [52]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-52-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [53]:
1==1.0

True

In [54]:
korean=92
english=47
mathmetics=86
science=81

In [55]:
print(korean>=50 and english>=50 and mathmetics>=50 and science>50)

False

In [56]:
range(5)

range(0, 5)

In [57]:
print(range)

<class 'range'>

In [58]:
a=range(5)

In [59]:
print(a)

range(0, 5)

In [60]:
b=list(a)

In [61]:
print(b)

[0, 1, 2, 3, 4]

In [62]:
a=[0,0,0,0,0]

In [63]:
a[0]=1; a[1]=2; a[2]=3; a[3]=4; a[4]=5

In [64]:
a

[1, 2, 3, 4, 5]

In [65]:
a[1]

2

In [66]:
del a[2]

In [67]:
a

[1, 2, 4, 5]

In [68]:
a=[0,1,2,3,4,5,6,7]

In [69]:
a[0:3]

[0, 1, 2]

In [70]:
a=[1,2,3,4,5,6,7]

In [71]:
a[1:3]=['a','b']

In [72]:
a

[1, 'a', 'b', 4, 5, 6, 7]

In [73]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [74]:
print(year[5:len(year)])
print(population[5:len(year)])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [75]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [76]:
print(1::2)

SyntaxError: invalid syntax (<ipython-input-76-7360de11ade0>, line 1)

In [77]:
print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [78]:
print('Hello World!')

Hello World!

### 숙제

In [81]:
N=int(input())
for i in range(1,N+1):
    print('*'*i)

3
*
**
***

시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오

In [83]:
score=int(input('시험점수를 입력하세요.: '))
if(score>=90 and score<=100):
    print('A')
elif(score>=80):
    print('B')
elif(score>=70):
    print('C')
elif(score>=60):
    print('D')
else:
    print('F')

시험점수를 입력하세요.: 88
B

In [89]:
N=int(input())
for i in range(1,N+1):
    for j in range(N-1,0,-1):
        print(' '*j,end='')
    print('*'*i)

3
   *
   **
   ***

In [95]:
year=int(input('년도를 입력하세요.(1~4000): '))
if(year%4==0 and year%100!=0 or year%400==0):
    print('1')
else:
    print('0')

년도를 입력하세요.(1~4000): 1900
0

In [97]:
N=int(input())
for i in range(N,0,-1):
    print('*'*i)

5
*****
****
***
**
*

In [110]:
num=int(input('숫자를 입력하세요.: '))
for i in range(1,num+1):
    print(' '*(num-i),'*'*i)

숫자를 입력하세요.: 5
     *
    **
   ***
  ****
 *****

In [111]:
num=int(input('숫자를 입력하세요.: '))
for i in range(1,num+1):
    print(' '*(num-i),'*'*i)

숫자를 입력하세요.: 7
       *
      **
     ***
    ****
   *****
  ******
 *******

In [3]:
num=int(input())
for i in range(1,num+1,2):
    print(' '*((num-i)/2),'*'*i)

7

TypeError: can't multiply sequence by non-int of type 'float'